<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zgf.modelapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.ModelApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.NextActivity" />
        <activity android:name=".ui.activity.LoggerTestActivity" />
        <activity android:name=".ui.activity.ButterKnifeTestActivity" />
        <activity android:name=".ui.activity.DaggerTestActivity" />
        <activity android:name=".ui.activity.DaggerTestTwoActivity" />
        <activity android:name=".ui.activity.JunitTestActivity"></activity>
    </application>

</manifest>